<h1>지난글</h1>
<br>
<% @every_post.each do |p| %>
시간 : <%= p.created_at %> <br>
받는이 : <%= p.receiver %> <br>
제목 : <%= p.title %> <br>
내용 : <%= p.content %>
<hr>


<% end %>

<h1><a href="/">게시판 글쓰러 가기</a></h1>